*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url('https://bangladesh.gov.bd/themes/responsive_npf/images/bg_main.gif');
    background-size: auto;
    background-color: rgb(0, 0, 0);
    background-position-x: center;
    background-position-y: top;
    background-repeat: repeat-y;
    background-attachment: scroll;
    background-origin: padding-box;
    background-clip: border-box;

    position: relative;
    font-family: 'BenSen', sans-serif;
}
a{
    text-decoration: none;
}
li{
    list-style: none;
}
.container{
    width: 1024px;
    margin: auto;
    overflow: hidden;
    position: relative;
    background-color: white;
}
/* Header starts */
/* Top head */
header .top-head{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 2rem;
    background-color: #9E5BBA;
    border-bottom: 1px solid red;
}
header .top-head .left p{
    font-size: 1rem;
    padding: 0 10px;
    word-spacing: .1rem;
    color: white;
}
header .top-head .right{
    display: flex;
    align-items: center;
    padding-right: 10px;
}
header .top-head .right p{
    word-spacing: .1rem;
    font-size: 1rem;
    color: white;
}
header .top-head .right p:first-child{
    margin-right: 20px;
}
header .top-head .right P:last-child{
    padding: 0 10px;
    border-left: 1px solid white;
    cursor: pointer;
}
/* Top Head ends */
/* Mid head */
header .mid-head{
    display: flex;
    justify-content: space-between;
}
header .mid-head .left img{
    width: 100%;
    padding: 2rem 1rem;
}
header .mid-head .right .info-wrapper{
    display: flex;
}
header .mid-head .right .cta-wrapper{
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
header .mid-head .right .info-wrapper .single-info{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #97C948;
    color: #FCFFFf;
    height: 20px;
    padding: 20px;
    cursor: pointer;
    margin-right: .1rem;
    position: relative;
    transition: all .2s ease-in;
}
header .mid-head .right .info-wrapper .single-info:last-child{
    margin-right: 0;
}
header .mid-head .right .info-wrapper .single-info:hover{
    background-color:#E40001 ;
}
header .mid-head .right .info-wrapper .single-info:first-child{
    clip-path: polygon(0 0, 100% 0, 100% 100%, 20% 100%);
}
header .mid-head .right .info-wrapper .single-info p:first-child{
    font-size: 1.5rem;
    margin-right: .5rem;
    flex: 1;
}
header .mid-head .right .info-wrapper .single-info p:last-child{
    font-size: 1rem;
    width: 100%;
    flex: 1;
}
header .mid-head .right .cta-wrapper{
    padding: 1rem 2rem;
}
header .mid-head .right .cta-wrapper input{
    width: 50%;
    margin-right: 1rem;
    height: 30px;
    border: none;
    outline: none;
    border: 1px solid #CCCCCC;
    padding: .5rem .5rem;
}
header .mid-head .right .cta-wrapper button{
    margin-right: 2rem;
    height:30px ;
    padding: .3rem;
}
header .mid-head .right .cta-wrapper >img{
    margin-right: 1.5rem;
    border-right: 2px solid #CCCCCC;
    padding-right: 10px;
}
header .mid-head .right .cta-wrapper .social-icons p{
    color: #97489A;
    font-weight: 600;
    font-size: .7rem;
    margin-bottom: .5rem;
}
header .mid-head .right .cta-wrapper .social-icons .icons img{
    cursor: pointer;
    margin-right: .2rem;
    transform: scale(.9);
    transition: all .1s ease-in-out;
}
header .mid-head .right .cta-wrapper .social-icons .icons img:hover{
    transform: scale(1.1);
}
/* Mid head ends */
/* Nav starts */
header .nav-wrapper {
    background-color: #EFEFEF;
}
header .nav-wrapper nav ul{
    display: flex;
}
header .nav-wrapper nav ul li{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
    padding: .5rem;
    border-right: 1px solid #CCCCCC;
    transition: all .3s ease-in-out;
}
header .nav-wrapper nav ul li:last-child{
    margin-right: 0;
}
header .nav-wrapper nav ul li:first-child{
    margin-left: .3rem;
}
header .nav-wrapper nav ul li a{
    text-decoration: none;
    padding-right: .3rem;
    font-size: 1.2rem;
    color: black;
    font-weight: 400;
}
header .nav-wrapper nav ul li:first-child:hover{
    background-color: #70BF42;
}
header .nav-wrapper nav ul li:nth-child(2):hover{
    background-color: #C40A2A;
}
header .nav-wrapper nav ul li:nth-child(3):hover{
    background-color: #84154D;
}
header .nav-wrapper nav ul li:nth-child(4):hover{
    background-color: #1399BE;
}
header .nav-wrapper nav ul li:nth-child(5):hover{
    background-color: #6A0166;
}
header .nav-wrapper nav ul li:nth-child(6):hover{
    background-color: #000;
}
header .nav-wrapper nav ul li:nth-child(7):hover{
    background-color: #FF6600;
}
header .nav-wrapper nav ul li:nth-child(8):hover{
    background-color: #C40A2A;
}
header .nav-wrapper nav ul li:nth-child(9):hover{
    background-color: #000;
}
header .nav-wrapper nav ul li:last-child:hover{
    background-color: #C40A2A;
}
header .nav-wrapper nav ul li:hover a{
    color: white;
}
header .nav-wrapper nav ul .menu
{
    position: relative;
}
header .nav-wrapper nav ul .menu .sub-menu
{
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: white;
    width: 20rem;
    top: 100%;
    left: 0;
    border-top: 8px solid rgb(196,10,42) ;
    box-shadow: -11px 11px 5px -7px rgba(196,10,42,0.75);
    -webkit-box-shadow: -11px 11px 5px -7px rgba(196,10,42,0.75);
    -moz-box-shadow: -11px 11px 5px -7px rgba(196,10,42,0.75);
}
header .nav-wrapper nav ul .menu-2 .sub-menu
{
    display: flex;
    position: absolute;
    justify-content: space-between;
    background-color: white;
    width: 20rem;
    top: 100%;
    left: 0;
    border-top: 8px solid #6A0166 ;
    box-shadow: -11px 11px 5px -7px #6A0166;
    -webkit-box-shadow: -11px 11px 5px -7px #6A0166;
    -moz-box-shadow: -11px 11px 5px -7px #6A0166;
}
header .nav-wrapper nav ul .menu .sub-menu .left ul, header .nav-wrapper nav ul .menu .sub-menu .right ul
{
    display: flex;
    flex-direction: column;
    margin-top: .9rem;
    padding: 0 1rem;
    padding-bottom: 1rem;
}
header .nav-wrapper nav ul .menu .sub-menu .left
{
    margin-right: .5rem;
}
#sub-menu-1,
#sub-menu-2{
    display: none;
}
header .nav-wrapper nav ul .menu .sub-menu .left ul li, header .nav-wrapper nav ul .menu .sub-menu .right ul li
{
    margin: 0;
    justify-content: flex-start;
    border-bottom: .01px solid #CCCCCC;
    padding:.2rem .5rem;
    border-right: 0;
}
header .nav-wrapper nav ul .menu .sub-menu .left ul li:hover, header .nav-wrapper nav ul .menu .sub-menu .right ul li:hover{
    background-color: #EEEEEE;
}
header .nav-wrapper nav ul .menu .sub-menu .left ul a, header .nav-wrapper nav ul .menu .sub-menu .right ul a{
    font-size: 1rem;
    font-weight: 500;
    color: black;
}
header .nav-wrapper nav ul .menu .sub-menu .left
{
    flex: 1;
}
header .nav-wrapper nav ul .menu .sub-menu .right
{
    flex: 1;
}
/* Nav Ends */
/* Header Ends */
/* Main section */
.section{
    width: 100%;
    display: flex;
}
.section .left{
    width: 70%;
}
.section .left img{
    margin-top: .2rem;
}
.section .right{
    width: 30%;
}
.section .right ul li{
    width: 100%;
}
.section .right ul li a img{
    transform: scale(.9);
    transition: all .3s ease-in-out;
    min-width: 100%;
}
.section .right ul li:hover img{
    transform: scale(1);
}
.section .left .marquee-wrapper .marquee-1{
    background-color: #E6E7E8;
    display: flex;
    align-items: center;
    padding: .2rem 0;
}
.section .right ul li a img{
    width: 100%;
}
/* Slider starts */
.section .left .slider{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin-top: .5rem;
}
.section .left .slider img{
    width: 100%;
    object-fit: cover;
}
/* Slider ends */
/* Tab section starts */
.section .left .tab-section{
    margin-top: 1rem;
    padding: 0 .3rem;
}
.section .left .tab-section .tab-item-wrapper{
    display: flex;
    align-items: center;
}
.section .left .tab-section .tab-item-wrapper .tab-item{
    margin-right: .1rem;
    padding:.3rem .5rem;
    background-color: #9E5BBA;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all .4s ease-in-out;
}
.section .left .tab-section .tab-item-wrapper .tab-item:hover{
    background-color: #E8E8E8;
}
.section .left .tab-section .tab-item-wrapper .tab-item:hover a{
    color: #9E5BBA;
}
.section .left .tab-section .tab-item-wrapper .tab-item a{
    color: white;
    font-size: 1.2rem;
    font-weight: 600;
    letter-spacing: .1rem;
}
.section .left .tab-section .tab-content{
    background-color: #EEEEEE;
    width: 100%;
    overflow: hidden;
    position: relative;
}
.section .left .tab-section .tab-content .tab.active{
    display: block;
}
.section .left .tab-section .tab-content .tab{
    display: none;
    margin-top: 5px;
    transform: scale(.9);
    height: 18rem;
    max-height: 18rem;
    transition: opacity 500ms ease-in-out 0ms, transform 500ms ease-in-out 0ms;
}
.section .left .tab-section .tab-content .tab#tab5{
    height:30rem ;
    max-height: 30rem;
}
.section .left .tab-section .tab-item-wrapper .tab-item.active{
    background-color:#E8E8E8 ;
}
.section .left .tab-section .tab-item-wrapper .tab-item.active a{
    color: #97489A;
}
.single-service-block{
    display: flex;
    flex-wrap: wrap;
}
.service-slider{
    display: flex;
    flex-direction: column;
}
.eservice-cat{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-right: 2rem;
    padding: .5rem;
    transition: all .3s ease-in-out;
}
.eservice-cat:hover{
    background-color: #fff;
}
.single-service-block .eservice-cat a {
    width: 100%;
    float: left;
    color: #297101;
    text-align: center;
    line-height: 16px;
}
.service-col-wrapper{
    display: flex;
}
.service-col-wrapper .service-col{
    flex:1;
}
.service-col-wrapper .service-col .eservice-cat a{
    color: black;
}
.service-col-wrapper .service-col .eservice-cat{
    align-items: center;
}
/* Tab section ends */

/* Gov news section starts */
.section .left .gov-news-section{
    width: 100%;
    padding: .5rem;
}
.section .left .gov-news-section .gov-news-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;
}
.section .left .gov-news-section  h5{
    font-size: xx-large;
    color: #72308F;
}
.section .left .gov-news-section .gov-news-wrapper .news-item .news-header{
    color: black;
    cursor: pointer;
    transition: all .3s ease-in-out;
}
.section .left .gov-news-section .gov-news-wrapper .news-item .news-header:hover{
    color: #73BF43;
}
.section .left .gov-news-section .gov-news-wrapper .news-item{
    margin-bottom: 1rem;
}
.section .left .gov-news-section .gov-news-wrapper .news-item .news-time{
    color: #73BF43;
    border-bottom: 1px solid #73BF43;
}
.section .left .gov-news-section .gov-news-wrapper .news-all{
    display: flex;
    justify-content: center;
    align-items: center;
    color: #70BF42;
    background-color: white;
    width: 20%;
    text-align: center;
    margin: auto;
    cursor: pointer;
    padding: .2rem;
    transition: all .5s ease-in-out;
    border: 1px solid #70BF42;
}
.section .left .gov-news-section .gov-news-wrapper .news-all:hover{
    background-color: #70BF42;
    color:white;
    border-color: transparent;
}
.section .left .gov-news-section .gov-news-wrapper .news-all p{
    width: 100%;
}

/* Gov news section ends */

/* Popular portals section starts */
.popular-portals-section{
    height: 24rem;
    min-height: 24rem;
}

.popular-portals-section .popular-portals-wrapper{
    padding: 1rem;
}
.popular-portals-section .popular-portals-wrapper ul{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: start;
}
.popular-portals-section .popular-portals-wrapper li{
    margin-right: .5rem;
}
.popular-portals-section .popular-portals-wrapper li a img{
    width: 100%;
    transform: scale(.9);
    transition: all .3s ease-in-out;
}
.popular-portals-section .popular-portals-wrapper li:hover img{
    transform: scale(1);
}
.section-title{
    margin-top: 1rem;
    font-size: x-large;
    color: #72308F;
}
/* Popular portals section ends  */

/* TopList section starts  */
.section .left .toplist-section{
    position: relative;
}
.section .left .toplist-section ul{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.section .left .toplist-section ul li{
    flex:1;
    margin-right: .6rem;
}
.section .left .toplist-section ul li:nth-child(2){
    flex: 2;
}
.section .left .toplist-section ul li .topsites ul,
.section .left .toplist-section ul li .topservices ul,
.section .left .toplist-section ul li .toppages ul{
    display: flex;
    flex-direction: column;
    list-style: none;
    justify-content: center;
    padding-left: 1rem;
}
.section .left .toplist-section ul li .topsites ul li,
.section .left .toplist-section ul li .topservices ul li,
.section .left .toplist-section ul li .toppages ul li{
    list-style: decimal;
    margin-top: .6rem;
}
.section .left .toplist-section ul li .topsites ul li a,
.section .left .toplist-section ul li .topservices ul li a,
.section .left .toplist-section ul li .toppages ul li a{
    color: #000;
    font-size: .9rem;
    border-bottom: 1px solid transparent;
    transition: all .2s ease-in-out;
}
.section .left .toplist-section ul li .topsites ul li a:hover,
.section .left .toplist-section ul li .topservices ul li a:hover,
.section .left .toplist-section ul li .toppages ul li a:hover{
    border-color: #000;
}
.section .left .toplist-section ul li:first-child h5{
    color: #F17D4B;
    font-size: large;
}
.section .left .toplist-section ul li:nth-child(2) h5{
    color: #2891CD;
    font-size: large;
}
.section .left .toplist-section ul li:nth-child(3) h5{
    color: #97C948;
    font-size: large;
}
.section .left .toplist-section > a{
    position: absolute;
    right: 0;
    bottom: 0;
    padding: .5rem;
}
::marker{
    font-size: .9rem;
    margin: 4rem;
    color: #97C948;
}

/* TopList section ends  */

/* Videos Section starts */
.section .left .videos-section{
    display: flex;
    flex-direction: column;
}
.section .left .videos-section .section-content table{
    padding: 1rem;
}
.section .left .videos-section .section-content table tbody tr td{
    border: 2px solid #d8d8d8 !important;
}

/* Videos Section ends */
/* Main section right start  */

/* Mini form section start  */
.section .right .mini-form-section{
    padding: 0 .1rem;
}
.section .right .mini-form-section h4{
    font-size: 1.5rem;
    color: #6B2F91;
    margin: 1.5rem 0;
}
.section .right .mini-form-section div{
    display: flex;
    align-items: center;
    justify-content: center;
}
.section .right .mini-form-section div select{
    flex: 2;
    padding: 0.3rem;
    border: none;
    border: 1px solid #70BF42;
    color: #70BF42;
    transition: all .2s ease-in-out;
}
.section .right .mini-form-section div select:hover{
    background-color: #70BF42;
    border-color: transparent;
    color: white;
}
.section .right .mini-form-section div input{
    flex: 1;
    margin: .2rem;
}
/* Mini form section start  ends*/

.right-video-section{
    padding: 0 .5rem;
}
/* Main section right ends  */
/* Footer starts */
footer .footer-content-wrapper{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: #EBEBEB;
    padding: 1rem 2rem;
    margin-top: -.3rem;
}
footer .footer-content-wrapper ul li {
    list-style: none;
    text-align: center;
    border-right: 1px solid #CCCCCC;
    padding-right: 10px;
}
footer{
    width: 100%;
}
footer .footer-content-wrapper ul li a{
    text-decoration: none;
    text-align: center;
    color: black;
    font-size: 1rem;
}
footer .footer-content-wrapper ul{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
footer .footer-content-wrapper ul li a{
    color: #000;
    border: 1px solid transparent;
    transition: all .2s ease-in-out;
}
footer .footer-content-wrapper ul li a:hover{
    border-bottom: 1px solid #000;
}
footer .footer-content-wrapper .site-info p{
    font-size: 1rem;
    color: #000;
}
footer .footer-content-wrapper .site-info .site-icons span{
    font-size: 1rem;
    color: #000;
}
.planing{
    font-size: 1rem;
    margin-right: .2rem;
    color: #000;
}
/* Footer ends */

/* Common Styles starts */
.section-heading{
    background-color: #609513;
}
.section-heading h3{
    padding: .5rem .5rem;
    color: white;
}
/* Common Styles ends */
/* Utitlities */
.d-flex{
    display: flex;
}
.align-center{
    align-items: center;
}
.space-between{
    justify-content: space-between;
}
.mt-2{
    margin-top: 2rem;
}
.mt-1{
    margin-top: 1rem;
}
.mt-0{
    margin-top: 0;
}
.mb-0{
    margin-bottom: 0;
}
.ml-1{
    margin-left: 1rem;
}
.btn{
    color: #70BF42;
    background-color: white;
    transition: all .5s ease-in-out;
    border: 1px solid #70BF42;
    cursor: pointer;
    font-weight: 600;
}
.btn:hover{
    color: white;
    background-color: #70BF42;
}
.w-100{
    width: 100%;
}
/* Responsive Containers*/
@media (min-width:576px){
    .container{
        max-width: 440px;
   }
}
@media (min-width:768px){
    .container{
        max-width: 620px;
   }
}
@media (min-width:992px){
    .container{
        max-width: 900px;
   }
}
@media (min-width:1200px){
    .container{
        max-width: 1024px;
   }
}
